[Unit]
Description=Calamares installer
DefaultDependencies=no
After=livesys-late.service systemd-user-sessions.service getty@tty1.service plymouth-quit.service
Conflicts=getty@tty1.service
Conflicts=getty@%i.service
Before=getty.target


[Service]
Type=idle
Restart=always
RestartSec=0
ConditionKernelCommandLine=|install
ExecStart=/usr/sbin/calamares-install-start
ExecReload=/usr/bin/killall X
ExecStop=/usr/bin/killall X
StandardInput=null
StandardOutput=kmsg+console
StandardError=kmsg+console
KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
