[Unit]
Description=Locale and Keymap Setup
After=sysinit.target
Before=default.target

[Service]
ExecStart=/usr/sbin/calamares-locale-setup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
