[Unit]
Description=Calamares installer
DefaultDependencies=no
After=livesys-late.service systemd-user-sessions.service getty@tty1.service plymouth-quit.service network-online-service
Conflicts=getty@tty1.service
Conflicts=getty@%i.service
Before=display-manager.service
Before=getty.target
Wants=NetworkManager.service
ConditionKernelCommandLine=|systemd.unit=calamares.target

[Service]
Type=idle
Restart=always
RestartSec=0
ExecStart=/usr/sbin/calamares-install-start
ExecReload=/usr/bin/killall X
ExecStop=/usr/bin/killall X
Environment=DISPLAY=:0
WorkingDirectory=/root
StandardInput=null
StandardOutput=journal
StandardError=kmsg+console
KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=calamares.target
